body {
    margin: 0;
    background-color: black;
}


/* index */

.index-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-large;

    /* https://www.sitepoint.com/css-viewport-units-quick-start/ */
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-pokeball {
    
    background-size: cover;
    background-image: url(/assets/images/pokebal1.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.button-pokeball:hover {
    scale: 1.2;
    animation: poke-button 3s linear infinite;
    
    
    
}

@keyframes poke-button {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
}


/* select-pokemon */


.select-pokemon-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.pokemon-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    
}

.select-pokemon-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height:auto;
    border-radius: 20px;
    border-width: 2px;
    border-color: cyan;
    background-color: aquamarine;
    opacity: 0.8;    
}

.select-pokemon-button:hover {
    border-width: 4px;
    border-color: yellow;
    scale: 1.2;    
}


/* battle */

.battle-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* player container is on the bottom-left of the page. It contains the image of the player's selected pokemon. Above the image is a box mentioning maximum and current hp. Above the box is a health bar. */


.battle-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 40%;
    height: 40%;
}


.battle-my-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40%;
    background-color: black;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
    font-size: medium;
}

/* adversary container is on the top-right of the page. It contains the image of the adversary's selected pokemon. To the left of the image is a box mentioning maximum and current hp.  Under the box is a health bar. */

.battle-adversary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;
}

battle-adversary-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
}

.battle-adversary-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    background-color: black;
    margin-top: 2%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
}


/* the message container is a box in the middle of the page, with a message box that displays the actions of the player and the adversary during the battle */

.battle-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 20%;
}


/* the actions container is a box on the bottom-right of the page. It contains the four buttons with the 4 attacks of the player's selected pokemon.  */

.battle-actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
}

